.grid {
	position: relative;
}
.item {
	display: block;
	position: absolute;
	width: 100px;
	height: 100px;
	margin: 5px;
	z-index: 1;
	background: #000;
	color: #fff;
}
.item.w1 {
	width: 200px;
}
.item.h1 {
	height: 200px;
}
.item.w2 {
	width: 250px;
}
.item.h2 {
	height: 250px;
}
.item.w3 {
	width: 300px;
}
.item.h3 {
	height: 300px;
}
.item.muuri-item-dragging {
	z-index: 3;
}
.item.muuri-item-releasing {
	z-index: 2;
}
.item.muuri-item-hidden {
	z-index: 0;
}
.item-content {
	position: relative;
	width: 100%;
	height: 100%;
}
